:root {
  --styl-color: #434455;
  --background-color: #ffffff;
  --styl-colorr: #4d5ae5;
  --styl-colorrr: #2e2f42;
  --background-colorr: #f4f4fd;
  --background-colorrr: #2e2f42;
}
.buttonn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--styl-colorr);
  background-color: var(--background-colorr);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--styl-color);

  ul {
    list-style-type: none;
  }
  h1 {
    color: var(--WHITE, #fff);
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
  }
}
.list {
  list-style: none;
}
.top {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero {
  background: var(--styl-colorrr);
}
.color {
  color: var(--styl-colorr);
}

.web {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.webb {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--background-colorrr);
}
.link {
  text-decoration: none;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.linkk:hover {
  background-color: #404bbf;
}
.linkk:focus {
  background-color: #404bbf;
}
.linkkk:hover {
  color: #ffffff;
}
.linkkk:focus {
  color: #ffffff;
}
.studio {
  color: var(--styll-color, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studioo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.menu {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.address {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.strategy {
  color: var(--NAVY-BLUE, #2e2f42);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}
.describtionss {
  color: var(--SLATE, #434455);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.doing {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;

  /* Header 2 */
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.bak {
  background-color: #f4f4fd;
}
.bakk {
  background-color: #ffffff;
}
.team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #f4f4fd;

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;

  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  background-color: #ffffff;

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.4px;
}
.job {
  color: var(--SLATE, #434455);
  text-align: center;
  background-color: #ffffff;

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  color: var(--background-colorr);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.last {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--styl-colorrr);
}
.lastt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: var(--styl-color);
}
